<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>MultiLane Simple Demo Application</title>
    <style>
        body { padding-top: 40px; }
    </style>
    <link rel="stylesheet" media="screen" href="../../static/css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <h1>MultiLane Simple Demo Application</h1>
    <hr/>

    <form class="form-horizontal" th:attr="action=@{/in-order/}" method="get">
        <fieldset>
            <legend>in-order example</legend>
            <div class="control-group">
                <label class="control-label">Timeout millis</label>

                <div class="controls">
                    <input type="text" class="input-medium" name="timeout" value="2500"/>
                    <button type="submit" class="btn">Run</button>
                </div>
            </div>
        </fieldset>
    </form>

    <form class="form-horizontal" th:attr="action=@{/multilane/}" method="get">
        <fieldset>
            <legend>multilane example</legend>
            <div class="control-group">
                <label class="control-label">Timeout millis</label>

                <div class="controls">
                    <input type="text" class="input-medium" name="timeout" value="2500"/>
                    <button type="submit" class="btn">Run</button>
                </div>
            </div>
        </fieldset>
    </form>

    <hr/>

<pre>
HttpGetToStringMultiLane multiLane = new HttpGetToStringMultiLane();
        
HttpGetToStringAction wait1sec = new HttpGetToStringAction("http://localhost:8080/api/1000", timeout);
HttpGetToStringAction wait2sec = new HttpGetToStringAction("http://localhost:8080/api/2000", timeout);
HttpGetToStringAction wait3sec = new HttpGetToStringAction("http://localhost:8080/api/3000", timeout);
        
String unavailable = "&lt;li&gt;Unavailable&lt;/li&gt;";
        
multiLane.start("p1", wait1sec, unavailable);
multiLane.start("p2", wait1sec, unavailable);
multiLane.start("p3", wait1sec, unavailable);
multiLane.start("p4", wait2sec, unavailable);
multiLane.start("p5", wait2sec, unavailable);
multiLane.start("p6", wait3sec, unavailable);

// Blocking!
Map&lt;String, String&gt; parts = multiLane.collectValues();

WebContext context = new WebContext(request, servletContext);
context.setVariable("p1", parts.get("p1"));
context.setVariable("p2", parts.get("p2"));
context.setVariable("p3", parts.get("p3"));
context.setVariable("p4", parts.get("p4"));
context.setVariable("p5", parts.get("p5"));
context.setVariable("p6", parts.get("p6"));
context.setVariable("spentTime", System.currentTimeMillis() - start);

TemplateEngine engine = TemplateEngineManager.getTemplateEngine();
return Response.ok(engine.process("parts", context)).build();
</pre>
</div>
</body>
</html>
